/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Poppins", sans-serif;
    color: #212529;
}

h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Poppins", sans-serif;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    margin-top: 5%;
    background: #fff;
    padding: 60px 0;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(78, 64, 57, 0.6);
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
}

.team .member .social a:hover {
    color: #eb5d1e;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
}

#contactnew {
    padding: 10px 0 10px 0;
}

#contactnew_two {
    padding: 2px 0 2px 0;
}

#contactnew_two h3 {
    color: rgb(189, 36, 36);
}

.contact .info-box .new {
    padding: 5px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: #428bca;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
}


.contact .info-box h5 {
    font-size: 12px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
    text-align: left;
    padding-left: 15px;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

